<main class="main">
  <app-exchange-header></app-exchange-header>
  <div class="content-wrapper">
    <div class="content">
      <div class="content__from">
        <h3>From:</h3>
        <select name="from-select" id="from-currency-select">
          <option value="UAH">UAH</option>
          <option value="USD">USD</option>
          <option value="EUR">EUR</option>
        </select>
        <input type="number">
      </div>
      <div class="content__to">
        <h3>To:</h3>
        <select name="to-select" id="to-currency-select">
          <option value="UAH">UAH</option>
          <option value="USD" selected>USD</option>
          <option value="EUR">EUR</option>
        </select>
        <input type="number">
      </div>
    </div>
  </div>
</main>

<router-outlet />