<main class="main">
  <div *ngIf="isLoading; else elseBlock" class="loading-spinner">
    <div class="loading-spinner__body">
      <div class="lds-dual-ring"></div>
      <p>{{loadingMessage}}</p>
    </div>
  </div>
  <ng-template #elseBlock>
    <app-exchange-header [currencies]="dataUah"></app-exchange-header>
    <div class="content-wrapper">
      <div class="content">
        <div class="content__sell">
          <label class="content__label" for="sell-reactive">Sell:</label>
          <app-exchange-select [options]="currencyCodesArr" [formControl]="sellSelect" />
          <app-exchange-input name="sell-reactive" [minValue]="0.001" [stepValue]="3" [formControl]="sellControl" />
        </div>
        <div class="content__arrows">
          <img src="../assets/img/arrows.png" alt="from-to">
        </div>
        <div class="content__buy">
          <label class="content__label" for="buy-reactive">Buy:</label>
          <app-exchange-select [options]="currencyCodesArr" [formControl]="buySelect" />
          <app-exchange-input name="buy-reactive" [minValue]="0.001" [stepValue]="3" [formControl]="buyControl" />
        </div>
      </div>
    </div>
  </ng-template>
</main>

<router-outlet />