.loading-spinner {
    display: grid;
    place-items: center;
    height: 100vh;
    // width: 100vh;
}

//spinner code
.lds-dual-ring,
.lds-dual-ring:after {
    box-sizing: border-box;
}
.lds-dual-ring {
    display: block;
    margin: 0 auto;
    width: 80px;
    height: 80px;
}
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6.4px solid currentColor;
    border-color: currentColor transparent currentColor transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

//content code begins here
.content {
    display: flex;
    max-width: 800px;
    flex-wrap: wrap;
    align-items: center;
    margin: 100px auto;

    @media (max-width: 750px) {
        flex-direction: column;
    }

    &__arrows {
        width: 50px;
        height: fit-content;

        img {
            width: 100%;
            height: auto
        };
    }

    &__sell,
    &__buy {
        margin: 25px auto;
        border: 1px solid #C4C4C4;
        border-radius: 8px;
        padding: 8px;
        box-shadow: 0px 4px 4px #ccc;;
    }

    &__label {
        display: inline-flex;
        font-size: 1.5rem;
        line-height: 1.5;
        margin-bottom: 8px;
    }

    &__select {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        width: 70px;
        display: block;
        float: right;
        position: relative;
    
        select {
            appearance: none;
            -webkit-appearance: none;
            font-size: 18px;
            width: 100%;
            padding: 8px;
            background-color: #fff;
            border: 1px dashed #101010;
            border-radius: 5px;
            color: #101010;
            cursor: pointer;
    
            @media (min-width: 912px) {
                font-size: 1.17em;
            }
        }
    }
    
    &__select::before,
    &__select::after {
        --size: 6px;
        position: absolute;
        content: "";
        right: 6px;
        pointer-events: none;
    }
    
    &__select::before {
        border-left: var(--size) solid transparent;
        border-right: var(--size) solid transparent;
        border-bottom: var(--size) solid #101010;
        top: 34%;
    }
    
    &__select::after {
        border-left: var(--size) solid transparent;
        border-right: var(--size) solid transparent;
        border-top: var(--size) solid #101010;
        top: 56%;
    }
    

    &__input-outline {
        border: 2px solid #C4C4C4;
        background-color: #fff;
        display: flex;
        align-items: center;
        height: 40px;
        font-size: 0.875rem;
        line-height: 1.5;
        padding: 0 10px;
        width: 234px;
        cursor: text;
        position: relative;
        border-radius: 7px;

        &:focus-within {
            border-color: #f2a705;
        }

        @media (min-width: 300px) {
            width: 274px;
        }
    }

    &__input {
        background-color: #fff;
        border: none;
        outline: none;
        font-size: 18px;
        width: 100%;

    }

    &__input:-webkit-autofill,
    &__input:-webkit-autofill:hover,
    &__input:-webkit-autofill:focus,
    &__input:-webkit-autofill:active {
        color: black !important;
        -webkit-text-fill-color: black !important;
        -webkit-box-shadow: 0 0 0 1000px white inset !important;
        -webkit-background-clip: text !important;
        background-clip: text !important;
    }

    &__input:-webkit-autofill::first-line {
        font-size: 18px;
    }
}
